* {
	text-align: center;
	margin: 0 auto;
}

.inputArea {
	display: block;
	margin: 0 auto;
}

input[name=textInput] {
	text-align: left;
	margin: 0 auto;
}


.buy ul {
	list-style: none;
	width: 400px;
	margin: 0 auto;
	padding-left: 0;
	border: 3px solid red;
}

.buy li {
	text-align: left;
	padding: 3px 0;
	margin: 10px 0;
	border: 1px dashed brown;
}

button {
	float: right;
	font-size: 10px;
	height: 20px;
	margin-left: 8px;
}